.fadeIn {
  animation-duration: 4s;
  animation-fill-mode: both;
  animation-name: fadeIn;
  -webkit-animation-duration: 4s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
}

@keyframes fadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}


.slideIn {
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-name: slideIn;
  -webkit-animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name:slideIn;
}

@keyframes slideIn {
  from{
    opacity: 0;
    transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 100%, 0);
  }
  to{
    opacity: 1;
    transform: translate3d(0, 0%, 0);
    -webkit-transform: translate3d(0, 0%, 0);
  }
}

.bounce {
  animation-duration: 2s;
  animation-name: bounce;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

@keyframes bounce {
  from {
    margin-left:100%;
    width:300%
  }

  to {
   margin-left:0%;
   width:100%;
 }
}

.fadeInUp {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: fadeInUp;
}

@keyframes fadeInUp {
  from{
    opacity: 0;
    transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 100%, 0);
  }
  to{
    opacity: 1;
    transform: translate3d(0, 0%, 0);
    -webkit-transform: translate3d(0, 0%, 0);
  }
}
